.box {
  width: 300px;
  height: 200px;
  background: blue;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .box {
    background: orange;
  }
}

@media (max-width: 480px) {
  .box {
    background: red;
  }
}

