
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Arial, sans-serif;
  color: #000;
}


#page {
  width: 960px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
}


header {
  background: #966;
  padding: 15px;
}

header p {
  color: white;
  margin-bottom: 10px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header li a:hover {
  color: #300;
}


a:link { color: #633; }
a:visited { color: #966; }


h1, h3 { color: #633; }
h2 { color: #999; }

h1, h2, h3 {
  margin: 15px 0 10px;
}


#content {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


section {
  flex: 3;
}

section img {
  max-width: 100%;
  display: block;
  margin: 15px 0;
}


aside {
  flex: 1;
  background: #300;
  color: white;
  padding: 15px;
}

aside a {
  color: #fff;
  font-weight: bold;
}


footer {
  background: #333;
  color: white;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}

footer a:link,
footer a:visited {
  color: #c99;
}

