
div[id^="paragraphe"] {
  width: 600px;
  margin-left: 250px;
  margin-bottom: 40px;
  display: none;
}

div[id^="paragraphe"] h2 {
  text-align: center;
}

div[id^="paragraphe"] p {
  border: 2px solid;
  padding: 10px;
}

div[id^="paragraphe"]:target {
  display: block;
}

ul {
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
  list-style: none;
}

ul li:nth-child(1) a { color: red; }
ul li:nth-child(2) a { color: green; }
ul li:nth-child(3) a { color: blue; }

#paragraphe1 h2, #paragraphe1 p { color: red; border-color:red; }
#paragraphe2 h2, #paragraphe2 p { color: green; border-color:green; }
#paragraphe3 h2, #paragraphe3 p { color: blue; border-color:blue; }
